build/
*.o
*.cache
config.status
*.a
needed*
lneeded*
errors
Makefile
config.h
lconfig.h
*.log
ofiles

stamp-h
config-stamp
conf

bfd/bfd.h
bfd/elf32-target.h
bfd/stmp-bfd.h

binutils/underscore.c

binutils/ar
binutils/c++filt
binutils/c++filt.1
binutils/nm.new
binutils/objcopy
binutils/objdump
binutils/ranlib
binutils/size
binutils/strings
binutils/strip.new

gas/as.new
gas/gasp.new
gas/.gdbinit

libiberty/stamp-picdir
libiberty/xhost-mkfrag

# symlinks
gas/atof-targ.c
gas/obj-format.c
gas/obj-format.h
gas/targ-cpu.c
gas/targ-cpu.h
gas/targ-env.h
libiberty/alloca-conf.h

